<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CADMDB</title>
	<!-- CSS -->
	<link th:href="@{/css/appstyle.css}" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<!-- JS -->
	<script src="/js/main.js"></script>
</head>
<body>
	<div th:replace="./header" :: header></div>
	<div th:replace="./manufacturer/menu-manufacturer" :: menu-manufacturer></div>
	
	<div class="container-fluid appcontainer">
		<form th:action="@{#}" th:object="${device}" method="POST">
			<div class="card card-hf">
				<div class="card-header">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">
							<p class="langPL">NAZWA</p>
							<p class="langEN">name</p>
						</label>
						<div class="col-sm-10">
							<h5 th:if="${edit == false} OR ${edit == null}" th:text="${device.manufacturer.name}"></h5>
						</div>
					</div>
					<input type="hidden" th:field="${device.id}"/>
					<input type="hidden" th:field="${device.manufacturer.id}"/>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label>
							<p class="langPL">KATEGORIA / NAZWA STANDARYZOWANA:</p>
							<p class="langEN">CATEGORY / STANDARDIZEN NAME:</p>
						</label>
						<select class="form-control" th:field="${device.category}">
							<option th:each="category : ${categoryList}" th:text="${category.namePL}" th:value="${category.id}"/>
						</select>
					</div>
					<div class="form-group">
						<label>
							<p class="langPL">NAZWA MODELU:</p>
							<p class="langEN">MODEL NAME:</p>
						</label>
						<input class="form-control" type="text" th:field="${device.modelName}"/>
					</div>
					<div class="form-group">
						<label>
							<p class="langPL">FUNKCJA</p>
							<p class="langEN">FUNCTION</p>
						</label>
						<select th:field="${device.functionEnum}" class="form-control">
							<option th:each="functionEnum : ${functionEnumList}" th:value="${functionEnum}" th:text="${functionEnum.namePL}"/>
						</select>
					</div>
					<div class="form-group">
						<label>
							<p class="langPL">SPOSÓB MONTAŻU</p>
							<p class="langEN">MOUNTING TYPE</p>
						</label>
						<select th:field="${device.mountingTypeEnum}" class="form-control">
							<option th:each="mountingTypeEnum : ${mountingTypeEnumList}" th:value="${mountingTypeEnum}" th:text="${mountingTypeEnum.namePL}"/>
						</select>
					</div>
					<div class="form-group w-25 d-inline-block">
						<label>
							<p class="langPL">MASA [KG]:</p>
							<p class="langEN">MASS [KG]:</p>
						</label>
						<input class="form-control" type="number" th:field="${device.weight}"/>
					</div>
					<div class="form-group w-25 d-inline-block">
						<label>
							<p class="langPL">EMISJA CIEPŁA [W]:</p>
							<p class="langEN">HEAT DISSIPATION [W]:</p>
						</label>
						<input class="form-control" type="number" th:field="${device.heatDissipation}"/>
					</div>
					<div class="form-group w-25 d-inline-block">
						<label>
							<p class="langPL">MOC PRZYŁĄCZENIOWA [KVA]:</p>
							<p class="langEN">POWER CONNECTION VALUE [KVA]:</p>
						</label>
						<input class="form-control" type="number" th:field="${device.powerConnectionValue}"/>
					</div>
					<div class="form-group">
						<label>
							<p class="langPL">CENA:</p>
							<p class="langEN">PRICE:</p>
						</label>
						<input class="form-control" type="number" step="0.01" th:field="${device.dataFinancial.price}"/>
					</div>
				</div>
				<div class="card-footer">
					<a href="#" th:href="@{|/manufacturers/${device.manufacturer.id}/products|}" type="button" class="btn btn-sm btn-outline-warning app-btn-left">
						<p class="langPL">ANULUJ</p>
						<p class="langEN">cancel</p>
					</a>
					<button type="submit" class="btn btn-sm btn-outline-success app-btn-right">
						<p class="langPL">ZAPISZ</p>
						<p class="langEN">save</p>
					</button>
				</div>
			</div>
		</form>
	</div>
	
	
	<div th:replace="./footer" :: footer></div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>