<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CADMDB</title>
	<!-- CSS -->
	<link th:href="@{/css/appstyle.css}" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<!-- JS -->
	<script src="/js/main.js"></script>
	<script src="/js/main.js"></script>
</head>
<body>
	
	<div th:replace="./header" :: header></div>

	<div th:replace="./hospital/department/menu-department" :: menu-department></div>
	
	<div class="container-fluid appcontainer">
		<form action="#" th:action="@{/departments/{departmentId} (departmentId = ${department.id})}" th:object="${department}" method="post" class="inline">
			<div class="card card-hf">				
				<div class="card-header">
					<div th:replace="./hospital/hospital-structure-path" :: hospital-structure-path></div>
					<div class="form-group row">
						<label class="col-2 col-form-label">
							<p class="langPL">ODDZIAŁ (NAZWA STANDARYSOWANA)</p>
							<p class="langEN">department (stardized name)</p>
						</label>
						<div class="col-10">
							<h5 th:text="${department.nameStandardized.nameStandardizedPl}"></h5>
							<p th:text="${department.nameStandardized.nameStandardizedEn}"></p>
							<input th:if="${edit == true}" class="form-control" type="hidden" th:field="${department.nameStandardized.id}"></input>
							<input th:if="${edit == true}" class="form-control" type="hidden" th:field="${department.hospital.id}"></input>
							<input th:if="${edit == true}" class="form-control" type="hidden" th:field="${department.dataFinancial.id}"></input>
							<!--
							<select th:if="${edit == true}" th:field="${department.roomList}">
								<option th:each="room : ${department.roomList}" th:text="${department.id}" th:value="${department.id}"/>
							</select>
							-->						
						</div>
					</div><div class="form-group row">
						<label class="col-2 col-form-label">
							<p class="langPL">NAZWA WŁASNA ODDZIAŁU</p>
							<p class="langEN">department custom name</p>
						</label>
						<div class="col-10">
							<h5 th:if="${edit == false} OR ${edit == null}" th:text="${department.name}"></h5>
							<input th:if="${edit == true}" class="form-control" type="hidden" th:field="${department.id}"></input>
							<input th:if="${edit == true}" class="form-control" type="text" th:field="${department.name}"></input>
						</div>
					</div>
				</div>						
				<div class="card-body">
					<div class="room-data-arch">
						<div class="card">
							<div class="card-header">
								<p class="langPL">WYMIARY</p>
								<p class="langEN">DIMENSIONS</p>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-8">
										<p class="langPL">POWIERZCHNIA [m<sup>2</sup>]</p>
										<p class="langEN">FLOOR AREA [m<sup>2</sup>]</p>
									</div>
									<div class="col-4">
										<p class="value" th:text="${department.dataArchDepartment.areaTotal}"></p>
									</div>
								</div>
							</div>
							<div class="card-footer"></div>
						</div>
						<div class="card">
							<div class="card-header">
								<p class="langPL">INFORMACJE OGÓLNE</p>
								<p class="langEN">GENERAL INFORMATION</p>
							</div>
							<div class="card-body"></div>
							<div class="card-footer"></div>
						</div>
						<div class="card">
							<div class="card-header">
								<p class="langPL">INFORMACJE NT. PODŁOGI</p>
								<p class="langEN">FLOOR INFORMATION</p>
							</div>
							<div class="card-body"></div>
							<div class="card-footer"></div>
						</div>
						<div class="card">
							<div class="card-header">
								<p class="langPL">INFORMACJE NT. SUFITU</p>
								<p class="langEN">CEILING INFORMATION</p>
							</div>
							<div class="card-body"></div>
							<div class="card-footer"></div>
						</div>
						<div class="card">
							<div class="card-header">
								<p class="langPL">INFORMACJE NT. ŚCIAN</p>
								<p class="langEN">WALL INFORMATION</p>
							</div>
							<div class="card-body"></div>
							<div class="card-footer"></div>
						</div>
						<div class="card">
							<div class="card-header">
								<p class="langPL">INFORMACJE NT. OŚWIETLENIA</p>
								<p class="langEN">LIGHTNING INFORMATION</p>
							</div>
							<div class="card-body"></div>
							<div class="card-footer"></div>
						</div>
					</div>
				</div>
				<div class="card-footer"></div>
			</div>
		</form>
	</div>
	
	<div th:replace="./footer" :: footer></div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>