<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CADMDB</title>
	<!-- CSS -->
	<link th:href="@{/css/appstyle.css}" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>

	<div th:replace="./header" :: header></div>
	
	<div th:replace="./hospital/department/menu-department" :: menu-department></div>
	
	<div class="container-fluid appcontainer">
			<div class="card card-hf">
				<div class="card-header">
					<div th:replace="./hospital/hospital-structure-path" :: hospital-structure-path></div>
					<div class="form-group row">
						<label class="col-2 col-form-label">
							<p class="langPL">ODDZIAŁ (NAZWA STANDARYZOWANA)</p>
							<p class="langEN">department (stardized name)</p>
						</label>
						<div class="col-10">
							<h5 th:if="${edit == false} OR ${edit == null}" th:text="${department.nameStandardized.nameStandardizedPl}"></h5>
							<p th:if="${edit == false} OR ${edit == null}" th:text="${department.nameStandardized.nameStandardizedEn}"></p>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-2 col-form-label">
							<p class="langPL">NAZWA WŁASNA ODDZIAŁU</p>
							<p class="langEN">department custom name</p>
						</label>
						<div class="col-10">
							<h5 th:if="${edit == false} OR ${edit == null}" th:text="${department.name}"></h5>
							<input th:if="${edit == true}" class="form-control" type="text" th:field="${department.name}"></input>
						</div>
					</div>
				</div>
				<div class="card-body">
					<table class="table">
						<thead class="bg-light">
							<tr class="text-center border-bottom">
								<td colspan="6">
									<p class="langPL">POMIESZCZENIA</p>
									<p class="langEN">ROOMS</p>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<p class="langPL">POMIESZCZENIE</p>
									<p class="langEN">room</p>
								</td>
								<td>
									<p class="langPL">PLANOWANY KOSZT ZAKUPU WYPOSAŻENIA</p>
									<p class="langEN">equipment purchase cost planned</p>
								</td>
								<td>
									<p class="langPL">SZACOWANY KOSZT EKSPLOATACJI WYPOSAŻENIA</p>
									<p class="langEN">equipment maintenance cost forecast</p>
								</td>
								<td>
									<p class="langPL">POWIERZCHNIA CAŁKOWITA</p>
									<p class="langEN">area total</p>
								</td>
								<td colspan="2">
								</td>
							</tr>
						</thead>
						
						<tbody>
							<th:block>
								<tr th:each="room : ${department.roomList}">
									<td style="width:80px">
										<img th:src="@{/img/ico/room000.png}" alt="HOSPITAL ICON" width="75" height="75" class="border">
									</td>
									<td>
										<p class="langPL" th:text="${room.nameStandardized.nameStandardizedPl}"></p>
										<p class="langEN" th:text="${room.nameStandardized.nameStandardizedEn}"></p>
									</td>
									<td>
										<p class="langPL" th:text="${#numbers.formatCurrency(room.dataFinancial.purCostOfProductPlan)}"></p>
									</td>
									<td>
										<p class="langPL" th:text="${#numbers.formatCurrency(room.dataFinancial.maintCostOfProductPlan)}"></p>
									</td>
									<td>
										<p class="langPL" th:text="${#numbers.formatDecimal(room.dataArchRoom.area, 0, 2)+ ' m2'}"></p>
									</td>
									<td colspan="2">
										<a th:href="@{/rooms/{roomId}/delete (roomId = ${room.id}) }" class="btn btn-sm btn-outline-danger float-right">
											<p class="langPL">USUŃ</p>
											<p class="langEN">DELETE</p>
										</a>
										<a th:href="@{/rooms/{id}/equipment (id = ${room.id}) }" class="btn btn-sm btn-outline-primary float-right">
											<p class="langPL">SZCZEGÓŁY</p>
											<p class="langEN">DETAILS</p>
										</a>
									</td>
								</tr>
							</th:block>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2"></td>
								<td class="bg-light">
									<h6 th:text="${#numbers.formatCurrency(department.dataFinancial.purCostOfProductPlan)}"></h6>
								</td>
								<td class="bg-light">
									<h6 th:text="${#numbers.formatCurrency(department.dataFinancial.maintCostOfProductPlan)}"></h6>
								</td>
								<td class="bg-light">
									<h6 th:text="${#numbers.formatDecimal(department.dataArchDepartment.areaTotal, 0, 2)+ ' m2'}"></h6>									
								</td>
								<td></td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="card-footer">
				</div>
			</div>
	</div>
	
	<div th:replace="./footer" :: footer></div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>