<div th:fragment="menu-department" class="menu-main">	

<div class="row menu-hospital-structure">
	<div>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link active" th:href="@{/departments/{departmentId} (departmentId=${department.id}) }" href="#">
					<p class="langPL">INFORMACJE</p>
					<p class="langEN">INFORMATION</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/departments/{departmentId}/rooms (departmentId=${department.id}) }" href="#">
					<p class="langPL">WYKAZ POMIESZCZEŃ</p>
					<p class="langEN">ROOMS LIST</p>
				</a>
			</li>
		</ul>
	</div>
	
</div>

</div>