<div th:fragment="menu-department" class="menu-main">	

<div class="menu-hospital-structure">
	<div class="col">
		<ul class="nav">
			<li class="nav-item">
				<img th:src="@{/img/ico/department000.png}" alt="HOSPITAL ICON" height="50" class="border">
			</li>
			<li class="nav-item">
				<a class="nav-link" 
					th:classappend="${#request.requestURI == '/departments/' + department.id} ? 'menu-active' : ''"
					th:href="@{/departments/{departmentId} (departmentId=${department.id}) }" href="#"
				>
					<p class="langPL">INFORMACJE OGÓLNE</p>
					<p class="langEN">GENERAL INFORMATION</p>
				</a>
			</li>
			<li class="nav-item">
				<a 
					th:classappend="${#request.requestURI.contains('/architectural-data')} ? 'menu-active' : ''"
					class="nav-link" th:href="@{|/departments/architectural-data/${department.id}|}" href="#"
				>
					<p class="langPL">DANE ARCHITEKTONICZNE</p>
					<p class="langEN">ARCHITECTURAL DATA</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" th:href="@{#}" href="#">
					<p class="langPL">DANE TECHNICZNE</p>
					<p class="langEN">TECHNICAL DATA</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" th:href="@{#}" href="#">
					<p class="langPL">DANE FINANSOWE</p>
					<p class="langEN">FINANCIAL DATA</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" 
					th:classappend="${#request.requestURI.contains('/rooms')} ? 'menu-active' : ''"
					th:href="@{/departments/{departmentId}/rooms (departmentId=${department.id}) }" href="#"
				>
					<p class="langPL">WYKAZ POMIESZCZEŃ</p>
					<p class="langEN">ROOMS LIST</p>
				</a>
			</li>
			<li th:if="${#request.requestURI.contains('/rooms')}" class="nav-item ml-auto">
				<a class="nav-link text-right text-success" 
					th:classappend="${#request.requestURI.contains('/rooms') and param.edit != null} ? 'menu-active' : ''"
					th:href="@{/departments/{id}/rooms?edit=true (id=${department.id})}" href="#"
				>
					<p class="langPL">DODAJ POMIESZCZENIE</p>
					<p class="langEN">ADD ROOM</p>
				</a>
			</li>
		</ul>
	</div>
	
</div>

</div>