<div th:fragment="hospital-structure-path">	
	
	<div class="row border-bottom pb-2 text-left">
		<div class="col-2">
			<p class="langPL">MIEJSCE W STRUKTURZE SZPITALA:</p>
			<p class="langEN">HOSPITAL STRUCTURE PATH:</p>
		</div>
		<div class="col-10">
			<div class="d-inline-block" th:if="${hospital != null}">
				<a th:href="@{|/hospitals/${hospital.id}/departments|}" th:text="${hospital?.name}" class="btn btn-sm btn-outline-primary disabled"></a>
			</div>
			<div class="d-inline-block" th:if="${department != null}">
				<a th:href="@{|/hospitals/${department.hospital.id}/departments|}" th:text="${department?.hospital?.name}" class="btn btn-sm btn-outline-primary"></a>
				<a th:href="@{|/departments/${department.id}/rooms|}" th:text="${department?.nameStandardized?.nameStandardizedPl}" class="btn btn-sm btn-outline-primary disabled"></a>
			</div>
			<div class="d-inline-block" th:if="${room != null}">
				<a th:href="@{|/hospitals/${room.department.hospital.id}/departments|}" th:text="${room?.department?.hospital?.name}" class="btn btn-sm btn-outline-primary"></a>
				<a th:href="@{|/departments/${room.department.id}/rooms|}" th:text="${room?.department?.nameStandardized?.nameStandardizedPl}" class="btn btn-sm btn-outline-primary"></a>
				<a th:href="@{#}" th:text="${room?.nameStandardized?.nameStandardizedPl}" class="btn btn-sm btn-outline-primary disabled"></a>
			</div>
		</div>
	</div>

</div>