<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CADMDB</title>
	<!-- CSS -->
	<link th:href="@{/css/appstyle.css}" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>

	<div th:replace="./header" :: header></div>
	
	<div th:replace="./hospital/menu-hospital" :: menu-hospital></div>
	
	<div class="container-fluid appcontainer">
		<form action="#" object="${hospital}" method="post">
			<div class="card">
				<div class="card-header">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">
							<p class="langPL">NAZWA</p>
							<p class="langEN">name</p>
						</label>
						<div class="col-sm-10">
							<h5 th:if="${edit == false} OR ${edit == null}" th:text="${hospital.name}"></h5>
							<input th:if="${edit == true}" class="form-control" type="text" th:field="${hospital.name}"></input>
						</div>
					</div>
				</div>
				<div class="card-body">
					<table class="table">
						<th:block>
							<tr th:each="department : ${hospital.departmentList}">
								<td th:text="${department.depcategory.depcategorynamePL}"></td>
								<td>
									<a href="#" class="btn btn-sm btn-outline-primary app-btn-right">
										<p class="langPL">SZCZEGÓŁY</p>
										<p class="langEN">DETAILS</p>
									</a>
								</td>
								<td>
									<a href="#" class="btn btn-sm btn-outline-danger app-btn-right">
										<p class="langPL">USUŃ</p>
										<p class="langEN">DELETE</p>
									</a>
								</td>

							</tr>
						</th:block>
						<tr>
							<td colspan="3">
								<a href="#" class="btn btn-sm btn-outline-success app-btn-right">
									<p class="langPL">DODAJ</p>
									<p class="langEN">ADD</p>
								</a>
							</td>
						</tr>
					</table>
				</div>
				<div class="card-footer">
					<th:block th:if="${edit == true}">
						<a th:href="{@#}" class="btn btn-sm btn-outline-warning app-btn-left">
							<p class="langPL">ANULUJ</p>
							<p class="langEN">cancel</p>
						</a>
						<button type="submit" class="btn btn-sm btn-outline-success app-btn-right">
							<p class="langPL">ZAPISZ</p>
							<p class="langEN">save</p>
						</button>
					</th:block>
					<th:block th:if="${edit == false} OR ${edit == null}">
						<a th:href="@{/hospitals/{id} (id=${hospital.id}) }" class="btn btn-sm btn-outline-warning app-btn-left">
							<p class="langPL">WSTECZ</p>
							<p class="langEN">back</p>
						</a>
						<a href="#" class="btn btn-sm btn-outline-primary app-btn-right disabled">
							<p class="langPL">EDYTUJ</p>
							<p class="langEN">edit</p>
						</a>
					</th:block>
				</div>
			</div>
		</form>
	</div>
	
	<div th:replace="./footer" :: footer></div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>