<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CADMDB</title>
	<!-- CSS -->
	<link th:href="@{/css/appstyle.css}" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>

	<div th:replace="./header" :: header></div>
	
	<div th:replace="./hospital/menu-hospital" :: menu-hospital></div>
	
	<div class="container-fluid appcontainer">
			<div class="card card-hf">
				<div class="card-header">
					<div th:replace="./hospital/hospital-structure-path" :: hospital-structure-path></div>
					<div class="form-group row">
						<label class="col-2 col-form-label">
							<p class="langPL">NAZWA</p>
							<p class="langEN">name</p>
						</label>
						<div class="col-10">
							<h5 th:if="${edit == false} OR ${edit == null}" th:text="${hospital.name}"></h5>
							<input th:if="${edit == true}" class="form-control" type="text" th:field="${hospital.name}"></input>
						</div>
					</div>
				</div>
				<div class="card-body">
					<table class="table">
						<thead class="bg-light">
							<tr>
								<td>
									<p class="langPL">ODDZIAŁ</p>
									<p class="langEN">department</p>
								</td>
								<td>
									<p class="langPL">KOSZT WYPOSAŻENIA</p>
									<p class="langEN">equipment cost</p>
								</td>
								<td>
									<p class="langPL">SZCZEGÓŁY</p>
									<p class="langEN">details</p>
								</td>
								<td>
									<p class="langPL">USUŃ</p>
									<p class="langEN">delete</p>
								</td>
							</tr>
						</thead>
						<tbody>
							<th:block>
								<tr th:each="department : ${hospital.departmentList}">
									<td>
										<p class="langPL" th:text="${department.nameStandardized.nameStandardizedPl}"></p>
										<p class="langEN" th:text="${department.nameStandardized.nameStandardizedEn}"></p>
									</td>
									<td>
										<p class="langPL" th:text="${#numbers.formatCurrency(department.dataFinancial.purCostOfDevicePlan)}"></p>
									</td>
									<td>
										<a th:href="@{/departments/{id}/rooms (id = ${department.id}) }" class="btn btn-sm btn-outline-primary">
											<p class="langPL">SZCZEGÓŁY</p>
											<p class="langEN">DETAILS</p>
										</a>
									</td>
									<td>
										<a th:href="@{/departments/{departmentId}/delete (departmentId = ${department.id}) }" class="btn btn-sm btn-outline-danger">
											<p class="langPL">USUŃ</p>
											<p class="langEN">DELETE</p>
										</a>
									</td>
		
								</tr>
							</th:block>
						</tbody>
						<tfooter>
							<tr>
								<td></td>
								<td class="bg-light">
									<h6 th:text="${#numbers.formatCurrency(hospital.dataFinancial.purCostOfDevicePlan)}"></h6>
								</td>
								<td></td>
								<td></td>
							</tr>
						</tfooter>
					</table>
				</div>
				<div class="card-footer">
					<!--
					<a th:href="@{/hospitals/{id} (id=${hospital.id}) }" class="btn btn-sm btn-outline-warning app-btn-left">
						<p class="langPL">WSTECZ</p>
						<p class="langEN">back</p>
					</a>
					-->
					<a th:href="@{/hospitals/{id}/departments?edit=true (id=${hospital.id})}" class="btn btn-sm btn-outline-success app-btn-right">
						<p class="langPL">DODAJ</p>
						<p class="langEN">ADD</p>
					</a>
				</div>
			</div>
	</div>
	
	<div th:replace="./footer" :: footer></div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>