<div th:fragment="menu-hospital" class="menu-main">	

<div class="row menu-hospital-structure">
	<div class="col">
		<ul class="nav">
			<li class="nav-item">
				<img th:src="@{/img/ico/hospital000.png}" alt="HOSPITAL ICON" height="50" class="border">
			</li>
			<li class="nav-item">
				<a class="nav-link active" th:href="@{/hospitals/{hospitalId} (hospitalId=${hospital.id}) }" href="#">
					<p class="langPL">INFORMACJE</p>
					<p class="langEN">INFORMATION</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" th:href="@{#}" href="#">
					<p class="langPL">DANE ARCHITEKTONICZNE</p>
					<p class="langEN">ARCHITECTURAL DATA</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" th:href="@{#}" href="#">
					<p class="langPL">DANE TECHNICZNE</p>
					<p class="langEN">TACHNICAL DATA</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" th:href="@{#}" href="#">
					<p class="langPL">DANE FINANSOWE</p>
					<p class="langEN">FINANCIAL DATA</p>
				</a>
			</li>
			<li class="nav-item ml-auto text-right">
				<a class="nav-link" th:href="@{/hospitals/{hospitalId}/departments (hospitalId=${hospital.id}) }" href="#">
					<p class="langPL">WYKAZ ODDZIAŁÓW</p>
					<p class="langEN">DEPARTMENTS LIST</p>
				</a>
			</li>
		</ul>
	</div>
	
</div>

</div>