<div th:fragment="menu-hospital" class="menu-main">	

<div class="menu-hospital-structure">
	<div class="col">
		<ul class="nav">
			<li class="nav-item">
				<img th:src="@{/img/ico/hospital000.png}" alt="HOSPITAL ICON" height="50" class="border">
			</li>
			<li class="nav-item">
				<a class="nav-link" 
					th:classappend="${#request.requestURI == '/hospitals/' + hospital.id} ? 'menu-active' : ''"
					th:href="@{/hospitals/{hospitalId} (hospitalId=${hospital.id}) }" href="#"
				>
					<p class="langPL">INFORMACJE OGÓLNE</p>
					<p class="langEN">GENERAL INFORMATION</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" 
					th:classappend="${#request.requestURI.contains('/architectural-data')} ? 'menu-active' : ''"
					th:href="@{|/hospitals/architectural-data/${hospital.id}|}" href="#"
				>
					<p class="langPL">DANE ARCHITEKTONICZNE</p>
					<p class="langEN">ARCHITECTURAL DATA</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" th:href="@{#}" href="#">
					<p class="langPL">DANE TECHNICZNE</p>
					<p class="langEN">TACHNICAL DATA</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" th:href="@{#}" href="#">
					<p class="langPL">DANE FINANSOWE</p>
					<p class="langEN">FINANCIAL DATA</p>
				</a>
			</li>
			<li class="nav-item">
				<a 
					th:classappend="${#request.requestURI.contains('/departments')} ? 'menu-active' : ''"
					class="nav-link" th:href="@{/hospitals/{hospitalId}/departments (hospitalId=${hospital.id}) }" href="#"
				>
					<p class="langPL">WYKAZ ODDZIAŁÓW</p>
					<p class="langEN">DEPARTMENTS LIST</p>
				</a>
			</li>
			<li th:if="${#request.requestURI.contains('/departments')}" class="nav-item ml-auto text-right">
				<a 
					th:classappend="${#request.requestURI.contains('/departments') and param.edit != null} ? 'menu-active' : ''"
					class="nav-link text-success dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false" 
					th:href="@{/hospitals/{id}/departments?edit=true (id=${hospital.id})}" href="#"
				>
					<p class="langPL">DODAJ NOWY</p>
					<p class="langEN">ADD NEW</p>
				</a>
				
				
				<!-- **** new line ****-->
		        <div class="dropdown-menu">
					<a class="nav-link text-success" href="/#" th:href="@{/hospitals/{id}/departments?edit=true (id=${hospital.id})}">
						<p class="langPL">DZIAŁ/ODDZIAŁ (PUSTY)</p>
						<p class="langEN">DEPARTMENT (BLANK)</p>
					</a>
					<a class="nav-link disabled" href="/#">
						<p class="langPL">DZIAŁ/ODDZIAŁ SPECJALISTYCZNY Z DOMYŚLNYMI POMIESZCZENIAMI</p>
						<p class="langEN">SPECIALIST DEPARTMENT WITH DEFAULT ROOMS</p>
					</a>
					<a class="nav-link disabled" href="/#" >
						<p class="langPL">DZIAŁ/ODDZIAŁ SPECJALISTYCZNY Z DOMYŚLNYMI POMIESZCZENIAMI I WYPOSAŻENIEM</p>
						<p class="langEN">SPECIALIST HOSPITAL WITH DEFAULT ROOMS AND EQUIPMENT</p>
					</a>
					<div class="dropdown-divider"></div>
				</div>
				<!-- **** new line end ****-->
				
				
			</li>
		</ul>
	</div>
	
</div>

</div>