<div th:fragment="menu-hospital" class="menu-main">	

<div class="row menu-hospital-structure">
	<div>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link active" th:href="@{/hospitals/{hospitalId} (hospitalId=${hospital.id}) }" href="#">
					<p class="langPL">INFORMACJE</p>
					<p class="langEN">INFORMATION</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/hospitals/{hospitalId}/departments (hospitalId=${hospital.id}) }" href="#">
					<p class="langPL">WYKAZ ODDZIAŁÓW</p>
					<p class="langEN">DEPARTMENTS LIST</p>
				</a>
			</li>
		</ul>
	</div>
	
</div>

</div>