<div th:fragment="menu-hospital" class="menu-main">	

<div class="menu-hospital-structure">
	<div class="col">
		<ul class="nav">
			<li class="nav-item ml-auto text-right">
				<a href="/hospitals/0" class="nav-link active text-success dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
					<p class="langPL">DODAJ NOWY</p>
					<p class="langEN">ADD NEW</p>
				</a>
		        <div class="dropdown-menu">
					<a class="nav-link text-success" href="/hospitals/0">
						<p class="langPL">SZPITAL OGÓLNY (PUSTY)</p>
						<p class="langEN">GENERAL HOSPITAL (BLANK)</p>
					</a>
					<a class="nav-link disabled" href="/#">
						<p class="langPL">SZPITAL SPECJALISTYCZNY DOMYŚLNYMI Z ODDZIAŁAMI</p>
						<p class="langEN">SPECIALIST HOSPITAL WITH DEFAULT DEPARTMENTS</p>
					</a>
					<a class="nav-link disabled" href="/#">
						<p class="langPL">SZPITAL SPECJALISTYCZNY Z DOMYŚLNYMI ODDZIAŁAMI I POMIESZCZENIAMI</p>
						<p class="langEN">SPECIALIST HOSPITAL WITH DEFAULT DEPARTMENTS AND ROOMS</p>
					</a>
					<a class="nav-link disabled" href="/#" >
						<p class="langPL">SZPITAL SPECJALISTYCZNY Z DOMYŚLNYMI ODDZIAŁAMI, POMIESZCZENIAMI I WYPOSAŻENIEM</p>
						<p class="langEN">SPECIALIST HOSPITAL WITH DEFAULT DEPARTMENTS, ROOMS AND EQUIPMENT</p>
					</a>
					<div class="dropdown-divider"></div>
					<a class="nav-link disabled" href="/#" >
						<p class="langPL">PRZYCHODNIA OGÓLNA (PUSTA)</p>
						<p class="langEN">CLINIC (BLANK)</p>
					</a>
					<a class="nav-link disabled" href="/#0">
						<p class="langPL">PRZYCHODNIA OGÓLNA Z DOMYŚLNYMI ODDZIAŁAMI</p>
						<p class="langEN">CLINIC WITH DEFAULT DEPARTMENTS</p>
					</a>
					<a class="nav-link disabled" href="/#0">
						<p class="langPL">PRZYCHODNIA OGÓLNA DOMYŚLNYMI Z ODDZIAŁAMI I POMIESZCZENIAMI</p>
						<p class="langEN">CLINIC WITH DEFAULT DEPARTMENTS AND ROOMS</p>
					</a>
					<a class="nav-link disabled" href="/#0">
						<p class="langPL">PRZYCHODNIA OGÓLNA Z DOMYŚLNYMI ODDZIAŁAMI, POMIESZCZENIAMI I WYPOSAŻENIEM</p>
						<p class="langEN">CLINIC WITH DEFAULT DEPARTMENTS, ROOMS AND EQUIPMENT</p>
					</a>
				</div>
			</li>
		</ul>
	</div>
		
</div>

</div>