@charset "UTF-8";

/* 
* Product card overrides
*/

.card.card-product-sm {
  padding: 0.25rem;
  width: 420px;
  height: 250px;
  margin: 5px;
}

.card.card-product-sm .card-footer {
	text-align: right;
	background-color: white;
}