@charset "UTF-8";

/* 
* Healthcare facility card overrides
*/

.card.card-hf > .card-header {
	/*min-height: 275px;*/
	}
.card.card-hf .span-address-input {
	margin: .2rem .2rem .2rem 0;
}

.address-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: .5rem;
}

.address-row span {
    display: inline-block;
}

div.room-data-arch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
} 
	
div.room-data-arch > .card {
  flex: 1 1 200px;
  min-width: 400px;
  max-width: 600px;
  box-sizing: border-box;
}

div.room-data-arch .row {

	margin: 0 0 .5rem 0;
}