@charset "UTF-8";

@import url(./test.css);
@import url(./appstyle-lang.css);
@import url(./appstyle-buttons.css);
@import url(./appstyle-tables.css);
@import url(./appstyle-card-hf.css);
@import url(./appstyle-card-product.css);

body {
  padding-top: 200px;  /* adjust this to your menu’s actual height */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 1040;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
	display: block;
	margin: 0 auto;
}

.appcontainer {
	min-width: 720px;
	min-height: 40em;
	width: 250px;
}

.appcontainer .value {
	font-size: 1.2em;
}

.row-first {
	padding: 2px;
	border-top: 1px solid lightgray;
}
.row-middle {
	padding: 2px;
	border-top: 1px solid lightgray;
}
.row-last {
	padding: 2px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.footer	{
	border-top: 1px solid gray;
	height: 5em;
	text-align: right;
	font-style: italic;
	margin-top: 2em;
	padding: 0.5em;
}

.app-vertical-center {
	margin: auto;
}
.menu-main {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1030;
  /*background: #f8f9fa;*/
  border-bottom: 1px solid F5F5F5;
}
.menu-hospital-structure {
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1020;
  background: #F5F5F5;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
