@charset "UTF-8";

/* 
* Product card overrides
*/

.card.card-product-sm {
  padding: 0.25rem;
  width: 420px;
  border: 1px solid darkred;
  vertical-align: top;   /* keep cards aligned at the top */
  margin-right: 1rem;    /* space between cards */
}

.card.card-product-sm .card-footer {
	text-align: right;
	background-color: white;
}