@charset "UTF-8";

/* 
* Healthcare facility card overrides
*/

.card.card-hf > .card-header {
	min-height: 275px;
	}

div.room-data-arch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
} 
	
div.room-data-arch > .card {
  flex: 1 1 200px;
  min-width: 400px;
  max-width: 600px;
  box-sizing: border-box;
}
