<div th:fragment="header" class="header">	
	
	<div class="row">
		<div class="col-4">
			<!--empty-->
		</div>
		<div class="col-4">
			<img class="logo" th:src="@{/img/CAEmedica.jpg}" alt="CAEmedica logo" height="60em"/>
		</div>
		<div class="col-4 text-right pr-5">
			<a href="#" class="btn-currency text-muted border p-1" data-code="PLN">PLN</a>
			<a href="#" class="btn-currency text-muted border p-1" data-code="EUR">EUR</a>
			<a href="#" class="btn-currency text-muted border p-1" data-code="USD">USD</a>
			<!--
				<p>Current currency: <span th:text="${session.selectedCurrency}"></span></p>
			-->
			<script th:inline="javascript">
			  const selectedCurrency = /*[[${session.selectedCurrency}]]*/ 'USD';
			  const exchangeRateEUR = /*[[${session.exchangeRateEUR}]]*/ '1';
			  const exchangeRateUSD = /*[[${session.exchangeRateUSD}]]*/ '1';
			</script>
		</div>

	</div>
		

	<div th:replace="./menu-main" :: menu-main></div>

</div>