<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CADMDB2</title>
	<!-- CSS -->
	<link th:href="@{/css/appstyle.css}" rel="stylesheet" />	
</head>
<body>

	<div th:replace="./header" :: header></div>
	
	<div class="body-home">
		<div class="test">
			<h1>TEST</h1>
			<table>
				<tbody>
					<tr th:each="hospital: ${hospitalList}">
						<td th:text="${hospital.name}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	
	<div th:replace="./footer" :: footer></div>
	
</body>
</html>