<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>CADMDB</title>
	<!-- CSS -->
	<link th:href="@{/css/appstyle.css}" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<!-- JS -->
	<script th:src="@{/js/login.js}"></script> 
</head>
<body>

	<div th:replace="./header" :: header></div>

	<div class="container appcontainer">
			<form th:action="@{/login}" method="post">
				<div class="card">
		       			<div class="card-header">
				           		<p class="langPL">ZALOGUJ</p>
				           		<p class="langEN">login</p>
			           	</div>	
							<div th:if="${param.error}" class="alert alert-error">
		         		       <p class="langPL">Błędne dane logowania</p>
		         		       <p class="langEN">Invalid username/password</p>
				           </div>
				           <div th:if="${param.logout}" class="alert alert-success">
				               <p class="langPL">Wylogowano poprawnie. Zaloguj się ponownie.</p>
				               <p class="langEN">Logged out succesfully. Login again.</p>
				           </div>
			           </div>
			           <div class="card-body">
				           <label for="username">
				           		<p class="langPL">Nazwa użytkownika</p>
				           		<p class="langEN">Username</p>
				           </label>
				           <input type="text" id="username" name="username" value="krzysztofskul"/>
				           <label for="password">
				           		<p class="langPL">Hasło</p>
				           		<p class="langEN">Password</p>
				           </label>
				           <input type="password" id="password" name="password" value="password"/>
			           </div>
			           <div class="card-footer text-right">
				           <div class="btn-group">
				               <button type="submit" class="btn btn-sm btn-outline-success">
					           		<p class="langPL">ZALOGUJ</p>
					           		<p class="langEN">login</p>
				               </button>
								<button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  <span class="sr-only">Toggle Dropdown</span>
								</button>
								 <div class="dropdown-menu">
								   <a class="dropdown-item" href="#">
									   <p class="langPL">KRZYSZTOFSKUL</p>
									   <p class="langEN">krzysztofskul</p>
								   </a>
									<div class="dropdown-divider"></div>
								   <a class="dropdown-item" href="#">
									   <p class="langPL">GOŚĆ</p>
									   <p class="langEN">userguest</p>
								   </a>

								 </div>
							</div>
						
						</div>
						</div>
			</form>

	</div>

	<div th:replace="./footer" :: footer></div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>