<div th:fragment="menu-main" class="menu-main">	

<div class="row">
	<div class="col">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link active" href="/home">
					<p class="langPL">STR. DOMOWA</p>
					<p class="langEN">HOME PAGE</p>
				</a>
			</li>
			<li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
					<p class="langPL">INIT. DB</p>
					<p class="langEN">INIT. DB</p>
				</a>
		        <div class="dropdown-menu">
					<a class="nav-link" href="/initDbEssentials">
						<p class="langPL">DANE PODSTAWOWE</p>
						<p class="langEN">ESENTIAL DATA</p>
					</a>
					<a class="nav-link" href="/initDbTest">
						<p class="langPL">DANE TESTOWE</p>
						<p class="langEN">TEST DATA</p>
					</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/hospitals">
					<p class="langPL">SZPITALE</p>
					<p class="langEN">HOSPITALS</p>
				</a>  
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/manufacturers">
					<p class="langPL">PRODUCENCI SPRZĘTU MED.</p>
					<p class="langEN">MEDICAL DEVICES MANUFACTURERS</p>
				</a>  
			</li>
		</ul>
	</div>
	
	<div class="col">
		<ul class="nav float-right">
			<li class="nav-item float-right">
				<a class="nav-link active" href="/logout" sec:authorize="isAuthenticated()">
					<p class="langPL">WYLOGUJ</p>
					<p class="langEN">LOGOUT</p>
				</a> 
			</li>
		</ul>
	    <h3 class="d-inline-block float-right pr-3 border-right" sec:authorize="isAuthenticated()">
			<span sec:authentication="name"></span>
		</h3>
	</div>
	
</div>

</div>