<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CADMDB</title>
	<!-- CSS -->
	<link th:href="@{/css/appstyle.css}" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<!-- JS -->
	<script src="/js/main.js"></script>
</head>
<body>

	<div th:replace="./header" :: header></div>

	<div th:replace="./hospital/department/room/menu-room" :: menu-room></div>
		
	<div class="container-fluid appcontainer">
		<form action="#" th:action="@{/rooms/{roomId} (roomId = ${roomId})}" th:object="${room}" method="post" class="inline">
			<div class="card card-hf">
				<div class="card-header">
					<div th:replace="./hospital/hospital-structure-path" :: hospital-structure-path></div>
					<div class="form-group row">
						<label class="col-2 col-form-label">
							<p class="langPL">POMIESZCZENIE (NAZWA STANDARYZOWANA)</p>
							<p class="langEN">room (standardized name)</p>
						</label>
						<div class="col-10">
							<h5 th:if="${edit == false} OR ${edit == null}" th:text="${room.nameStandardized.nameStandardizedPl}"></h5>
							<p th:if="${edit == false} OR ${edit == null}" th:text="${room.nameStandardized.nameStandardizedEn}"></p>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-2 col-form-label">
							<p class="langPL">NAZWA WŁASNA POMIESZCZENIA</p>
							<p class="langEN">custom room name</p>
						</label>
						<div class="col-10">
							<h5 th:if="${edit == false} OR ${edit == null}" th:text="${room.name}"></h5>
							<input th:if="${edit == true}" class="form-control" type="hidden" th:field="${room.id}"></input>
							<input th:if="${edit == true}" class="form-control" type="text" th:field="${room.name}"></input>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-2 col-form-label">
							<p class="langPL">NUMER POM.</p>
							<p class="langEN">room no.</p>
						</label>
						<div class="col-10">
							<h5 th:if="${edit == false} OR ${edit == null}" th:text="${room.roomNo}"></h5>
							<input th:if="${edit == true}" class="form-control" type="text" th:field="${room.roomNo}"></input>
						</div>
					</div>	
				</div>
				<div class="card-body">
					<table class="table">
						<thead class="bg-light">
							<tr class="text-center border-bottom">
								<td colspan="7">
									<p class="langPL">PLANOWANE WYPOSAŻENIE</p>
									<p class="langEN">EQUIPMENT PLANNED</p>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<p class="langPL">NAZAWA WYPOSAŻENIA</p>
									<p class="langEN">equipment name</p>
								</td>
								<td>
									<p class="langPL">PRODUCENT</p>
									<p class="langEN">manufacturer</p>
								</td>
								<td>
									<p class="langPL">MODEL</p>
									<p class="langEN">model name</p>
								</td>
								<td>
									<p class="langPL">MONTAŻ</p>
									<p class="langEN">mounting type</p>
								</td>
								<td>
									<p class="langPL">PLANOWANY KOSZT ZAKUPU</p>
									<p class="langEN">cost planned</p>
								</td>
								<td colspan="2">
								</td>
							</tr>
						</thead>
						<tbody>
							<th:block>
								<tr th:each="device : ${room.deviceList}">
									<td style="width:80px">
										<img th:src="@{/img/ico/equipment000.png}" alt="HOSPITAL ICON" width="75" height="75" class="border">
									</td>
									<td>
										<p class="langPL" th:text="${device.category.namePL}"></p>
										<p class="langEN" th:text="${device.category.nameEN}"></p>
									</td>
									<td>
										<p class="langPL" th:text="${device.manufacturer.name}"></p>
									</td>
									<td>
										<p class="langPL" th:text="${device.modelName}"></p>
									</td>
									<td>
										<p class="langPL" th:text="${device.mountingTypeEnum.namePL}"></p>
									</td>
									<td>
										<p class="langPL" th:text="${#numbers.formatCurrency(device.dataFinancial.price)}"></p>
									</td>
									<td>
										<a th:href="@{|/rooms/${room.id}/equipment/${device.id}/remove|}" class="btn btn-sm btn-outline-danger float-right">
											<p class="langPL">USUŃ</p>
											<p class="langEN">DELETE</p>
										</a>
										<a th:href="@{|/devices/${device.id}|}" class="btn btn-sm btn-outline-primary float-right">
											<p class="langPL">SZCZEGÓŁY</p>
											<p class="langEN">DETAILS</p>
										</a>
									</td>
								</tr>
							</th:block>
						</tbody>
						<tfoot>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td class="bg-light">
									<h6 th:text="${#numbers.formatCurrency(room.dataFinancial.purCostOfDevicePlan)}"></h6>
								</td>
								<td></td>

							</tr>
						</tfoot>
					</table>
				</div>
			
				<div class="card-footer">
				</div>
				
			</div>
		</form>
	</div>

	<div th:replace="./footer" :: footer></div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

	
</body>
</html>