<div th:fragment="menu-room" class="menu-main">	

<div class="row menu-hospital-structure">
	<div>
		<ul class="nav">
			<li class="nav-item">
				<img th:src="@{/img/ico/room000.png}" alt="HOSPITAL ICON" height="50" class="border">
			</li>
			<li class="nav-item">
				<a class="nav-link active" th:href="@{/rooms/{roomId} (roomId=${room.id}) }" href="#">
					<p class="langPL">INFORMACJE</p>
					<p class="langEN">INFORMATION</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/rooms/{roomId}/equipment (roomId=${room.id}) }" href="#">
					<p class="langPL">WYKAZ WYPOSAŻENIA</p>
					<p class="langEN">EQUIPMENT LIST</p>
				</a>
			</li>
		</ul>
	</div>
	
</div>

</div>